* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  position: relative;
  isolation: isolate;
  min-height: 100vh;
  overflow-x: hidden;
}

body::before {
  content: "";
  position: fixed;
  inset: 0;
  background-image: url("https://cdn-images-1.medium.com/v2/resize:fit:918/1*U3WRRwLx3zeDkHmIVGLJdw.gif");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
  background-attachment: fixed;
  opacity: 0.4;
  z-index: -2;
}

body::after {
  content: "";
  position: fixed;
  inset: 0;
  background-color: rgba(253, 214, 115, 0.2);
  z-index: -1;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 2rem;
}

nav {
  display: flex;
  align-items: center;
}

nav ul {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
  gap: 1rem;
}

nav ul li a {
  text-decoration: none;
  padding: 0.6rem 1.2rem;
  border: 1px solid black;
  border-radius: 6px;
  background-color: #fdd673;
  color: black;
  font-weight: 600;
  font-size: 1rem;
  cursor: pointer;
}

nav ul li a.active {
  background-color: black;
  color: white;
  border-color: #fdd673;
}

.disabled-link {
  background-color: #ccc;
  cursor: not-allowed;
}

nav button {
  padding: 0.6rem 1.2rem;
  border: 1px solid black;
  border-radius: 6px;
  background-color: #fdd673;
  color: black;
  font-weight: 600;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-left: 1rem;
}

nav button:hover {
  background-color: #ffb700;
}

h2 {
  text-align: center;
  margin: 2rem;
}

.swal-bar {
  background-color: #fdd673;
}

.swal-button {
  padding: 0.6rem 1.2rem;
  border: 1px solid black;
  border-radius: 6px;
  background-color: #fdd673;
  color: black;
  font-weight: 600;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.swal-button:hover {
  background-color: #ffb700;
}

.swal-header {
  background-color: #fdd673;
}

.swal-loading {
  border-top-color: #fdd673;
  border-bottom-color: #fdd673;
}

.swal-popup {
  font-family: Arial, Helvetica, sans-serif;
  border-radius: 8px;
  background-color: #f9f9f9;
  padding: 1.5rem;
  border: 1px solid #ddd;
  max-width: 300px;
}

.swal-popup--success {
  box-shadow: 0px 0px 10px 10px rgba(0, 255, 0, 0.1);
}

.swal-popup--error {
  box-shadow: 0px 0px 10px 10px rgba(255, 0, 0, 0.1);
}

.swal2-radio {
  display: grid !important;
  flex-direction: column;
  background-color: #f9f9f9 !important;
  margin: 10;
}

.swal2-radio label {
  padding: 0.5rem;
}

.swal-title {
  font-size: 1.25rem;
  font-weight: 600;
  color: #333;
  margin-bottom: 0.5rem;
}
