* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.navbar {
  text-align: center;
  margin: 2rem auto;
}

h2 {
  text-align: center;
  margin: 2rem auto;
}

.auth-form {
  text-align: center;
  margin: 2rem auto;
}
